@import "./bootstrap_reboot";
@import './mixins';

// @tailwind base;
// @tailwind components;
// @tailwind utilities;


@include font-face(Calibre, "../fonts/Calibre/Calibre-Medium", null, null, ttf woff woff2);
//Variables
$font-main: 'Inter', sans-serif;
$font-outstanding: 'Oswald', sans-serif;

$color-main: #0f172a;
$color-secondary: #4F96CC;
$color-light: #e2e8f0;
// $color-secundario: #1e90ff;

// $color-variacion: #141313;


body {
	margin: 0;

	background-color: $color-main;
	color: $color-light;
	font-family: Calibre;
}
