@import "./globales";

@include font-face(SFMono, "../fonts/SFMono/SFMono-Medium", null, null, ttf woff woff2);

.gl-font-sans {
  font-family: SFMono;
}

a{
  text-decoration: none;
  text-decoration-line: none;
  color: inherit;
  
}

a:hover {
  text-decoration: none;
  color: $color-secondary;

}

.hero-intro--higher{
  font-size: clamp(40px, 8vw, 80px);
  line-height: 0.9;
}

//generales
.gl-txt-highlight {
  color: $color-secondary;
}

.gl-txt-main-font {
  font-family: SFMono;
}

.gl-txt-section {
  font-size: clamp(20px,4vw,24px)
}

.gl-txt-section-number {
  font-size: clamp(15px,3vw,20px);
}

.layout {
  background-color: $color-main;
}

// cards categories
.card-categorie {
  background-color: rgba($color-secondary, $alpha: 0.15);
}

//svgs

.media-icons {
  fill: rgba($color: $color-light, $alpha: 0.6);
}

.media-icons:hover{
  fill: $color-light;
}


.nav-hamLogo{
  cursor: pointer;
  
  rect {
    transition: all .4s ease-in-out;
  }
  
  // &:hover{
  //   .middle {
  //     x: 0;
  //     opacity: 0;
  //   }
  //   .top {
  //     transform: rotate(45deg);
  //     transform-origin: center top;
  //     x: 50px;
  //     y: 35px;
  //   }
  //   .bottom {
  //     transform: rotate(-45deg);
  //     transform-origin: center top;
  //     x: -20px;
  //     y: 25px;
	// 		width: 60px;
  //   }
  // }

}

.nav-hamLogoClicked{
  .middle {
    x: 0;
    opacity: 0;
  }
  .top {
    transform: rotate(45deg);
    transform-origin: center top;
    x: 50px;
    y: 35px;
  }
  .bottom {
    transform: rotate(-45deg);
    transform-origin: center top;
    x: -20px;
    y: 25px;
    width: 60px;
  }
}
.nav-logoN{
  transition-duration: 500ms;
}
.nav-logoN:hover {
  transform: translate(-5px, -5px);
}

.layout{
// donde sea que cree las css variables, los hijos las podrán usar. pongo ademas valores por defecto
	background-image: radial-gradient(
    circle farthest-corner at var(--x, 100px) var(--y, 100px),
    #1250aa -25%,
    transparent 20%
  );
}